{% comment %}
HTML came from sections/cart-item.
/snippets/minicart.liquid include in theme.liquid
{% endcomment %}

<div id="minibag_mask" class="minibag-mask" style="" onclick="HideFunction()"></div>
<div id="mini-cart" class="hide-minibag"></div> 