{% comment %}
<div class="swiper qv_img_slider">
  <div class="qv-product-images swiper-wrapper"></div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>
{% endcomment %}
<div class="qy-Img-section qv-product-images">
<div class="qv-product-main-images"></div>
<div class="qv-product-thumb-images slider-nav"></div>
</div>

<div class="qv-content">
    <div class="holder"> 
      <h4 class="qv-product-vendor"></h4>
        <h3 class="qv-product-title"></h3>  
      <h5 class="qv-product-price"></h5>
        <h5 class="qv-product-original-price"></h5>
       
       <div class="qv-product-description"></div>
       <a class="view-product" href=""><span>Learn More</span></a>
        <hr />
     
        <div class="qv-add-to-cart">
            <div class="qv-product-options"></div>
<!--             <div class="quantity">
                <span>Quantity</span>
                <input type="number" class="qv-quantity" value="1" min="1">
            </div> -->
          
          
          <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input qv-quantity"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
          
          
            <input type="submit" class="qv-add-button product-form__submit button button--full-width button--secondary" value="Add to Cart">
            <div class="qv-add-to-cart-response"></div>
        </div>
       
    </div>
   
</div>