<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  <div style=""></div>
</div>

<style>

  #shopify-section-{{section.id}}{
   padding-top:{{section.settings.top_padding}}px; 
   padding-bottom:{{section.settings.bottom_padding}}px;
  }
</style>

{% schema %}
{
  "name": "Divider",
  "tag": "section",
  "class": "spaced-section divider-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },

	{
        "type": "range",
        "id": "top_padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top margin",
        "default": 65
      },
	  {
        "type": "range",
        "id": "bottom_padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom margin",
        "default": 65
      }
  ],
  "presets": [
    {
      "name": "Divider"
    }
  ]
}
{% endschema %}
