{% schema %}
  {
    "name": "Featured Content Block",
    "settings": [],
	"blocks": [
    {
      "type": "icon_text",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
		 {
          "type": "image_picker",
          "id": "img",
          "label": "Image (.png) format"
        },
		{
          "type": "richtext",
          "id": "svg_icon1_text",
		  "default": "<p>Free Delivery</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Content Block",
      "blocks": [
        {
          "type": "icon_text"
        },
		{
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
