<div class="image-with-text {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} color-scheme-{{ section.settings.color_scheme }}">
  
  
</div>

{% schema %}
  {
    "name": "Featured Content Block",
 "class": "spaced-section spaced-section--full-width",
    "settings": [
	{
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-with-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-with-text.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    }
	],
	"blocks": [
    {
      "type": "icon_text",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
		 {
          "type": "image_picker",
          "id": "img",
          "label": "Image (.png) format"
        },
		{
          "type": "richtext",
          "id": "svg_icon1_text",
		  "default": "<p>Free Delivery</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Content Block",
      "blocks": [
        {
          "type": "icon_text"
        },
		{
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
