
<div class="card-wrapper">
  <div class="card-information">
    <div class="card-information__wrapper">
      <div class="caption-with-letter-spacing light">WNP Sandbox</div>
      <h3 class="card-information__text h5">
      <a href="/products/demo-original-adult-formula-dog-dry-food-single-option" class="full-unstyled-link">
        Demo - Original adult formula dog Dry food single option
      </a>
      </h3>
      <div class="price " data-wg-notranslate="manual">
        <div>
          <div class="price__regular">
          <span class="visually-hidden visually-hidden--inline">Regular price</span>
          <span class="price-item price-item--regular">
            From HK$275.00
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card--product card--outline" tabindex="-1">
    <div class="card__inner">
      <div>
      <div class="media media--transparent media--square media--hover-effect">
        <img src="//cdn.shopify.com/s/files/1/0018/3176/4077/products/six_fish_usa_1_1_df5b1eb4-2e44-4a78-b73f-c6ec7a2ae12b_165x.jpg?v=1641373466 165w" 
             alt="Demo - Original adult formula dog Dry food single option" 
             class="motion-reduce" 
             width="1000" height="1000">
        </div>
      </div>
      <div class="card__badge">
        <span class="badge badge--bottom-left color-accent-1 new-btn">New</span>
      </div>

    </div>
  </div>
</div>


  <!-- Include html in the body -->
<div id="swym-wishlist-render-container"></div>
<script type="text/javascript">
//   window.SwymCallbacks = window.SwymCallbacks || [];
//   window.SwymCallbacks.push(function(swat) {
//     var wishlistContainerElement = document.querySelector("#swym-wishlist-render-container");
//     var queryParams = swat.utils.getEncodedAsObject(window.location.search);
//     // Contains queryParams["lid"];
//     swat.ui.renderWishlistInContainer(wishlistContainerElement, queryParams);
//   });
</script>
  
<script>
  if(!window.SwymCallbacks){window.SwymCallbacks = [];}
  window.SwymCallbacks.push(function(){
    _swat.fetchWrtEventTypeET(function(products){

      products.forEach(function(product, index) { 
      console.log(product);
      });
          

    }, _swat.EventTypes.addToWishlist);
  });
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
