/* megamenu */
li.mega_parent.active a {
    color: #f5694d;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.rte .grid {
    flex-wrap: wrap;
}

.rte .grid img, .rte .grid h2, .rte .grid div {
    width: 100%;
}

table td, table tr, table th, table, tbody {border: none!important;box-shadow: none!important;}


.product-form__input input[type=radio]:checked+label {
    border: 1px solid #000000!important;
}

.bottom-part svg {
    width: 12px;
    margin-bottom: -2px;
}
.bottom-part li {
    color: red;
}

.card__badge.sold_out_right {
    left: auto;
    right: 0;
}

.card__badge.sold_out_right .badge {
    margin-right: 0;
}


@media(max-width:680px){

  .featured_col_Swiper2 li.swiper-slide {
    max-width: none!important;
    width: 100%!important;
  }

  .featured_col_Swiper li.swiper-slide {
    max-width: none!important;
    width: 100%!important;
  }
}