:focus-visible {
    outline: none;
    outline-offset: unset;
    box-shadow: none;
}

/* megamenu */
/* li.mega_parent.active a {
    color: #f5694d;
} */

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.rte .grid {
    flex-wrap: wrap;
}

.rte .grid img, .rte .grid h2, .rte .grid div {
    width: 100%;
}

table td, table tr, table th, table, tbody {border: none;box-shadow: none!important;}


.product-form__input input[type=radio]:checked+label {
    border: 1px solid #000000!important;
}

.bottom-part svg {
    width: 12px;
    margin-bottom: -2px;
}
.bottom-part li {
    color: red;
}

.card__badge.sold_out_right {
    left: auto;
    right: 0;
}

.card__badge.sold_out_right .badge {
    margin-right: 0;
}


@media(max-width:680px){

  .featured_col_Swiper2 li.swiper-slide {
    max-width: none!important;
/*     width: 100%!important; */
  }

  .featured_col_Swiper li.swiper-slide {
    max-width: none!important;
/*     width: 100%!important; */
  }
}

.rich-text__blocks li.active a h3 {
    color: #f5694d!important;
}

.tabcontent-cus h4, .accordion__content h4 {
    margin-bottom: 0;
}


@media(max-width:680px){
  ul.footer-block__details-content {
    display: none;
  }
}

input#Contact_newsletter-popup-email {
  margin-bottom: 0!important;
}

span#lblError {
  text-align: left;
}

span#button_sub {
  margin-top: 30px;
}
#elError,#valError{
display:none;
}
span.error-fields.show, #valError.show, #elError.show {
  display: block;
  text-align: left;
}

input#first-name {
  margin-bottom: 0!important;
}

.email-con {
  margin-top: 30px;
}

#newsletter-popup .contact-form .btn:hover {
    background: #153A33;
    color: #fff!important;
}


.cols-banner.collection img {
    width: 155px!important;
    height: auto!important;
   
    float: right!important;
    margin-right: 60px;
}


.cols-banner.collection{
background-color:#fff;
}

img.metafields_banner.banner__media-for-desktop {
    width: 100%!important;   margin-right: 0px!important;
}

ul.minicart_you_may_also li {
    width: 100%;
    max-width: 100%;
}

.main_prod_wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.minicart_you_may_also {
    padding: 0;
}

.min-cart-items quantity-input.quantity {
    width: 100px;
}

/* ul.minicart_you_may_also li:first-child {
    display: block;
}

ul.minicart_you_may_also li {
    display: none;
} */

div#mini-cart {
    overflow-y: auto;
}
.mini-cart-con .empty-cart-items{
height: calc(100vh - 306px)!important;
}

.soldout {
    color: red!important;
}

.CarouselWidget  .header__inner {
    flex-wrap: wrap!important;
    display: flex!important;
    justify-content: flex-start!important;
    flex-direction: unset!important;
}

.R-TextHeading {
    /* width: 100%; */
/*     align-items: flex-start!important; */
  order:1;
}

.R-RatingStars {
    /* width: 100%; */
  order:3;
}

.header__inner .R-TextBody {
    width: 50%;
  order:2;
}

.header__inner div:last-child{
order:4;
}

.single-option-selector{
display:none;
}



.swatch-element {
  border: #e2e2e2 1px solid;
  width: auto;
/*   height: 40px; */
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 8px 8px 0;
  position: relative;
}

.swatch .swatch-element.soldout label {
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: .6;
}
.swatch label {
  float: left;
  min-width: auto;
  height: 30px;
  margin: 0;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 10px;
  display: block;
}

.crossed-out {
  /*     background-image: linear-gradient(to bottom left,transparent 50%,#999 50%,#999 calc(50% + 1px),transparent 50%),linear-gradient(to bottom right,transparent 50%,#999 50%,#999 calc(50% + 1px),transparent 50%); */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.swatch .swatch-element .crossed-out {
  display: none;
}
.swatch .swatch-element.soldout .crossed-out {
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -o-object-fit: fill;
  object-fit: fill;
  font-family: "object-fit: fill";
}

.swatch_options input:checked+.swatch-element {
    border-color: #000;
    box-shadow: 0 0 0 2px #fff;
}

.soldout+label {
  color: #44444d!important;
  opacity: 0.5;
}

.available+label {
    color: #44444d!important;
}

/* wishlist */
i.icon-swym-wishlist {
  font-family: 'swym-font';
  font-style: normal;
  vertical-align: middle;
}
i.icon-swym-wishlist+span {
  vertical-align: middle;
}
i.icon-swym-wishlist:after {
  content: '';
  font-size: 130%;
  line-height: 18px;
  text-align: center;
  display: inline;
}
/*content rendered after swym is ready to avoid showing block/invalid chars*/
.swym-ready i.icon-swym-wishlist:after {
  content: '\f004';
}
i.icon-swym-wishlist:after {  
  visibility: hidden;
}
.swym-ready i.icon-swym-wishlist:after {  
  visibility: visible;  content: '\f004';
}
/* .product-form__input input[type=radio]:checked+label.soldout{
border: 1px solid #d3d6d9!important;
} */
.product-form__input input[type=radio]:checked+label.available{
    border: 1px solid #000!important;
}

.swym-wishlist-notifications-container.swym-ui-component.swym-is-safari {
    pointer-events: none!important;
}

a#notifyme {
    background: #44444D;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    padding: 12px 20px;
    font-weight: 500;
    max-width: 380px;
    margin-bottom: 0;
    width: 100%;
}
.product .price .badge{
margin:0!important;
}
variant-radios {
    position: relative;
  display:block;
}
h3#stockmsg {
    position: absolute;
    right: 0;
    color: #153A33;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
      padding: 0;
    margin: 0;
    top: 0;
}

li.breadcrumbs__item a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-decoration: none;
    color: #44444d;
}

.qv-product-options_html.active {
    position: absolute;
    background: #fff;
    border: 1px solid red;
    z-index: 9;
    top: 50vh;
    transform: translateY(-50vh);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 75%;
}

.quick-view_new, .boost-pfs-quickview-btn {
    background: #153a33!important;
    color: #fff!important;
    font-size: 14px!important;
    line-height: 14px!important;
    font-weight: 300!important;
    font-style: normal!important;
    text-align: center!important;
    padding: 8px 20px!important;
    box-shadow: none!important;
    border: 1px solid #153a33!important;
    min-height: unset!important;
    max-width: unset!important;
    flex-grow: unset!important;
    opacity: unset!important;
    cursor: pointer!important;
    box-shadow: none!important;
    -moz-border-radius: 2px!important;
    -o-border-radius: 2px!important;
    -ms-border-radius: 2px!important;
    border-radius: 2px!important;
    display: block;
}




.open_popup_minq.active {
/*   position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
background: rgba(68,68,77,.3)!important;
    z-index: 9!important;
    text-align: left; */
  position: fixed;
  background: #fff;
  z-index: 99999;
  top: 50%;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  transform: translateY(-50%);
  padding: 70px 35px;
}
.open_popup_minq_cont{

}

a.open_popup_minq_close {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* .open_popup_minq.active {
  z-index: 9999!important;
}

.open_popup_minq.active .open_popup_minq_cont.fancybox-margin {
  left: 50%;
  right: auto;
  transform: translate(-50%, -50% );
  top: 50%;
  margin: 0 auto!important;
  bottom: auto;
} */

.qv-product-options_html  span.product__media-icon.motion-reduce {
    display: none;
}

.qv-product-options_html .swym-button.swym-add-to-wishlist-view-product.swym-heart:before{
  content: "";
}

.qv-product-options_html .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {
  content:"Add to wishlist";
  padding-left: 5px;
    font-size: 10px;
    letter-spacing: 0px;
}

.qv-product-options_html .swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:before {
    content: "";
}

.qv-product-options_html .swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:after {
    content:"Added to wishlist";
  padding-left: 5px;
    font-size: 10px;
    letter-spacing: 0px;
}


.qv-product-options_html  .form.shopify-product-form .product-form__buttons {
  align-items: center;
  justify-content: space-between;
}

.qv-product-options_html  .swym-button.swym-add-to-wishlist-view-product{
  max-width:100%;
}

.quick-view-button button.swym-button {
    background: #ffffff;
    color: #153a33;
    font-size: 14px;
    line-height: 14px !important;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 5px 4px;
    width: 131px;
    margin-top: 10px;
    box-shadow: none;
    border: 1px solid #153a33;
    min-height: unset;
    max-width: unset;
    flex-grow: unset!important;
    opacity: unset;
    cursor: pointer;
    box-shadow: none;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    display: block;
}

/* .quick-view-button .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {
  content: "add to wishlist";text-transform: capitalize;
}

.quick-view-button .swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:after {
    content:"Added to wishlist";text-transform: capitalize;
} */

/* .instafeed-container {
    width: 100%!important;
    padding-top: 100%!important;
  }
 */
#insta-feed{
  display:none;
}

#insta-feed.active{
  display:block;
}


/* for flickity */
/* div#insta-feed h2 {
    display: none;
}

div#insta-feed a {
    width: 20%!important;
}

*/
@media(max-width:768px){
  div#insta-feed a {
    width: 88%!important;
  }
} 
.insta-feed__wrapper .slider-item {
  width: calc(20% - 60px);
/*   width:236px; */
  margin-left: 0;
  margin-right: 20px;
}
.insta-feed__wrapper a[href*=-insta-feed] {
  display: block;
}
.insta-feed__wrapper .instafeed-container {
  position: relative;
  padding-bottom: 100%;
}

.insta-feed__wrapper .instafeed-container .js-lazy-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flickity-viewport {
    box-shadow: none!important;
}

@media(max-width:768px){
  .brand_logos li.swiper-slide {
    width: calc(100% - 20px)!important;
/*     border: 1px solid; */
    /*     margin: 0px 10px!important; */
    margin-bottom:20px;
    margin-right:0!important;
  }
  .brand_logos  .swiper-slide-next {
    margin-left: 0!important;
  }
}


/* cart page */

.class-for-cart-page .flex {
    display: flex;
    flex-wrap: wrap;
}


.class-for-cart-page .cart-page-items {
    width: 70%;
}

.class-for-cart-page  .cart__footer-wrapper{
    width:30%;
}

.class-for-cart-page  .featured-collection{
    width:100%;
}

cart-items.page-widthh {
  max-width: 1200px;

  padding: 0 5rem;
}

div#main-cart-footer {
  max-width: 400px;
  padding: 0 5rem;
}

.cart-main {
  padding: 100px 0;
}
/* @media(min-width:1290px){
  cart-items.page-widthh {
    margin-left: 11.5%;
  }
} */

@media(max-width:768px){
 .cart-mainm .for-mobile .cart__item-title-right
  a#myBtn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .cart-mainm .for-mobile .cart__item-title-right {
    position: relative;
  }

/*   .cart-mainm .for-mobile button.swym-button {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-25%);
  } */

  .cart-mainm .for-mobile .cart__item-sub {
    position: absolute;
    bottom: 15px;
    right: 0;
  }

 .cart-mainm .for-mobile .cart-item__quantity {
    width: 100px;
  }

  
/*   .cart-mainm .for-mobile .swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:after{
  content:"Saved to wishlist"!important;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 0!important;
    word-wrap: break-word;
    word-spacing: 0px;
  }
  .cart-mainm .for-mobile .swym-button.swym-add-to-wishlist-view-product.swym-heart:after{
  content:"Save to wishlist"!important;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 0!important;
    word-wrap: break-word;
    word-spacing: 0px;
  } */
}

article share-button.share-button {
    float: right;
}

div#article_page .buttons-section ul {
    display: block;
    text-align: center;
}

div#article_page .buttons-section ul li {
    margin: 14px auto;
}


@media(max-width:768px){
  div#article_page .buttons-section ul li{
    width:100%!important;
  }

}

/* .rte img {
    width: 100%;
} */

.card-wrapper a {
    text-decoration: none;
}

.collection  .swym-button.swym-loaded {
    opacity: 1!important;
}

.collection .swym-button {
    opacity: 0!important;
}


.boost-pfs-filter-products  .quick-view-button {
  -webkit-transition: transform .4s ease-out;
  -moz-transition: transform .4s ease-out;
  -ms-transition: transform .4s ease-out;
  -o-transition: transform .4s ease-out;
  transition: transform .4s ease-out;
  -webkit-transform: translate(0,10px);
  transform: translate(0,10px);
  display:inherit;
  visibility:hidden;
}
.boost-pfs-action-list-wrapper.boost-pfs-action-extend {
  top: 20%!important;
}
.boost-pfs-filter-products .grid__item:hover .quick-view-button{
  position: absolute;
  top: 27%!important;
  left: 2.4rem;
  z-index: 9;
  display:inherit;
  width: 130px;
  margin: 0 auto!important;
  right: 0;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  visibility: visible;
}


.boost-pfs-filter-products .boost-pfs-quickview-btn{
  height:initial!important;
  width: 130px!important;
}
@media(min-width:769px){
  .boost-pfs-modal-container .boost-pfs-modal-content{
    width: 1255px!important;
    top: 20px!important;
  }
}

.boost-pfs-modal-container .boost-pfs-modal-content slider-component {
    position: relative;
    display: block;
}


/* .qv-product-thumb-images .product__media-item.slide.slick-slide {
    width: 200px!important;
}
*/
.qv-product-thumb-images .product__media-item.slide.slick-slide img {
    width: 100%!important;
}
/*.qv-product-main-images .slide.product__media-item {
    width: 500px!important;
}*/
/* .qv-product-main-images .slide.product__media-item img{
    width: 100%!important;
}  */

.qv-product-options_html {
    width: 100%;
  padding: 30px 30px 30px 0;
}

.boost-pfs-quickview-wrapper.check.fancybox-inner {
    height: 95vh!important;
}

.boost-pfs-quickview-wrapper .product__info-wrapper.grid__item {
    padding-left: 35px;
}

.qv-product-thumb-images .product__media-item {
    width: 150px;
}


h2.h0 {
    text-transform: none;
}


/* reorder */

  /* reorder style */

  @-webkit-keyframes rotating{
    from{
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg)
    }
    to{
      -webkit-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @keyframes rotating{
    from{
      -ms-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg)
    }
    to{
      -ms-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }


  .pt-spinner {
    -webkit-animation: rotating .5s linear infinite;
    animation: rotating .5s linear infinite;
    height: 100%;

  }

  .pt-spinner-container{
    display: none;
    height: 22px;
    margin-top: -4px;
  }

  .reorder-btn{
    width: 100px;
    height: 38px;
    display: inline-block;
    padding: 12px 14px 9px;
    margin: 0;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 13px;
    background-color: #153a33;
    color: #ffffff;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .reorder-btn:hover{
       background: #fff;
    border: 1px solid #44444d;
    color: #44444d;
  }


  .reorder-btn.loading .pt-spinner-container{
    display: inline-block;
  }

  .reorder-btn.loading .pt-reorder-text{
    display: none;
  }
  td.re_order {
    padding-top: 12px!important;
    margin-top: 0!important;
  }
  /* reorder style end */
.title-reorder-btn {
    display: flex;
    justify-content: space-between;
}


.address-order {
    display: flex;
    justify-content: space-between;
}
.order-table{width:75%;}

.order-address{width:25%; padding:0 20px;}

p.title_address {
    padding: 17px 0;
    border-bottom: 0.01rem solid rgba(var(--color-foreground),.08);
}

.left-side-product-items {
    width: 45%;
}

.order-table-right {
    width: calc(55% - 40px);
  padding-left:40px;
  border-left:1px solid #d3d6d9;
}

.reorder-page .page-width {
    display: flex;
/*     align-items: center; */
    justify-content: space-between;
}