@media screen and (max-width: 749px) {
  .collage-section + .collection-list-section .no-heading.no-mobile-link {
    margin-top: -7rem;
  }
  .collage-section + .collection-list-section .no-heading:not(.no-mobile-link) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collage-section + .collection-list-section .no-heading {
    margin-top: calc(-4rem - var(--page-width-margin));
      }
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper.page-width {
    padding: 0;
  }

  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .collection-list-section .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper:not(.no-heading) .title-wrapper-with-link {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-list-wrapper.no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
      }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

.collection-list__item .card--light-border:hover {
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
    }

.collection-list__item:only-child .media {
  height: 35rem;
}

@media screen and (max-width: 749px) {
  .collection-list .collection-list__item {
    width: calc(100% - 3rem);
  }

  .collection-list__item.grid__item {
    padding-bottom: 1rem;
  }

  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

.collection-list.negative-margin--small {
  margin-bottom: -1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item:only-child > *:not(.card--media) {
    height: 320px;
  }

  .collection-list__item:only-child .media {
    height: 47rem;
  }

  .collection-list__item a:hover {
    box-shadow: none;
  }

  .collection-list.grid--3-col-tablet .grid__item {
    max-width: 33.33%;
  }

  .collection-list--4-items .grid__item,
  .collection-list--7-items .grid__item:nth-child(n + 4),
  .collection-list--10-items .grid__item:nth-child(n + 7) {
    width: 50%;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list__item .card__text,
.collection-list__item .card-colored {
  position: relative;
}


/* custom add */
.left-section{
  width:20%;
}
.right-section{
  width:80%;
}
img.banner__media-for-mobile {
  display: none;
}


.listCollection{
  display:flex;
  flex-wrap:wrap;
}
.cols-banner img {
  width: 100%;
 
}
.cols-banner .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 67px;
}

.cols-banner {
  position: relative;
}

.cols-banner .info h1 {
  margin-top: 0;
}
.color-none .card__text.card__text-spacing.card__text-hover p {
  margin: 0;
}

.color-none .card__text.card__text-spacing.card__text-hover {
  margin-left: 0;
  padding-left: 0;
}

.color-none .card__text.card__text-spacing.card__text-hover .h3 {
  font-weight: 400;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.color-none .card__text.card__text-spacing.card__text-hover .h3 .icon-wrap {
  display: none;
}

/* responsive */
@media screen and (max-width: 769px) {
  .left-section{
    width:100%;
  }
  .right-section{
    width:100%;
  }
  img.banner__media-for-mobile {
    display: block;
  }
  img.banner__media-for-desktop{
    display:none;
  }
  .cols-banner .info h1{
    margin:0;
  }
  .cols-banner .info{
    left:20px;
    width: 50%;
  }
  .cols-banner img {
    object-fit: cover;
    object-position: 80%;
  }
  .spaced-section {
    margin-top: 0rem!important;
  }
}


